<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Client List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let client of getClients()">
      <ion-item>
        <ion-content>
          {{client.firstName + ' ' + client.lastName}}
        </ion-content>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="primary" [routerLink]="['/client-details', client]">
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>